[{sasl,[{errlog_type,error}]},
 {paper_racer,
     [{'Elixir.PaperRacer.Endpoint',
          [{url,[{host,<<"localhost">>}]},
           {secret_key_base,
               <<"nWRdgQs6UfjKzDcGAYZdpTrTlGxsQEe+f4pH8WGH8RLQeNKLVow/A+R6FCq2Wx5k">>},
           {debug_errors,true},
           {server,true},
           {http,[{port,4000}]},
           {cache_static_lookup,false}]}]},
 {logger,
     [{console,[{format,<<"[$level] $message\n">>},{metadata,[request_id]}]}]},
 {phoenix,[{code_reloader,true}]}].
