<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <%= javascript_tag "/js/jquery-min.js" %>
    <%= javascript_tag "/js/phoenix.js" %>
    
    <%= javascript_tag "/js/model.js" %>
    <%= javascript_tag "/js/app.js" %>
    <!-- Necessary evil? Hmm... I hope not... -->
    <script type="text/javascript">
      $(function() {
        window.connect("<%= @id %>", "<%= @current_user %>");
      });
    </script>
    
    <%= javascript_tag "/js/view.js" %>
    <%= javascript_tag "/js/draw.js" %>
    <%= javascript_tag "/js/canvas.js" %>
    <%= javascript_tag "/js/input.js" %>
    
    <title>Paper Racer</title>
    <link rel="stylesheet" href="/css/canvas.css">
  </head>
  <body>
    <canvas id="race_view">
      Your browser doesn't support canvas elements! :'(
    </canvas>
  </body>
</html>
